Repository willtech3/emoji-smith: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, bandit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        args: ['--config=.flake8']

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: ['src/']

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: uv run bandit
        language: system
        types: [python]
        files: '^src/.*\.py$'
        exclude: '^tests/'
        args: ['-s', 'B101,B104']

feat: enforce test naming conventions
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  scripts/check-quality.sh
  scripts/check-test-names.py
  tests/unit/domain/test_emoji_generation_job.py
  tests/unit/domain/test_emoji_specification.py
  tests/unit/domain/test_generated_emoji.py
  tests/unit/domain/value_objects/test_emoji_sharing_preferences.py
  tests/unit/infrastructure/image/test_processing.py
  uv.lock
Due: black, flake8, mypy

feat: address PR feedback for enriched domain models
  src/emojismith/domain/entities/generated_emoji.py
  src/emojismith/domain/entities/queue_message.py
  src/emojismith/domain/exceptions.py
  tests/unit/domain/entities/test_queue_message.py
  tests/unit/domain/test_generated_emoji.py
Due: black, flake8, mypy, bandit

refactor: use ValidationError for domain format validation
  src/emojismith/domain/entities/generated_emoji.py
  tests/unit/domain/test_generated_emoji.py
Due: black, flake8, mypy, bandit

fix: update tests to use ValidationError and avoid accessing private attributes
  tests/unit/domain/test_emoji_specification.py
  tests/unit/test_concurrent_requests.py
Due: black, flake8, mypy

fix: correct test parameter in security validation tests
  tests/unit/test_security_validation.py
Due: black, flake8, mypy

test: clean up tests to follow testing guidelines
  tests/unit/test_concurrent_requests.py
  tests/unit/test_performance_benchmarks.py
  tests/unit/test_security_validation.py
Due: black, flake8, mypy

test: add rate limit and config validation tests
  src/emojismith/domain/__init__.py
  src/emojismith/domain/errors.py
  src/emojismith/infrastructure/openai/openai_api.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/test_worker_service_config.py
Due: black, flake8, mypy, bandit

fix: resolve quality check failures for PR merge
  pyproject.toml
  src/emojismith/domain/__init__.py
  tests/unit/test_worker_service_config.py
Due: black, flake8, mypy, bandit

refactor: implement PR feedback for test naming enforcement
  pyproject.toml
  scripts/check-test-names.py
  uv.lock
Due: black, flake8, mypy

fix(tests): use moto for lambda secret loading
  pyproject.toml
  tests/unit/test_aws_secrets_loader.py
  tests/unit/test_worker_handler.py
  uv.lock
Due: black, flake8, mypy

feat: use moto for SQS integration test
  pyproject.toml
  requirements-dev.lock
  tests/integration/test_dual_lambda_integration.py
Due: black, flake8, mypy

test: add moto-based lambda integration
  pyproject.toml
  tests/integration/test_worker_handler_integration.py
  tests/unit/test_aws_secrets_loader.py
  uv.lock
Due: black, flake8, mypy

fix: apply black formatting and fix test fixture naming
  tests/integration/test_slack_integration.py
  tests/unit/domain/test_emoji_specification.py
Due: black, flake8, mypy

fix: resolve flake8 PT001 error - use @pytest.fixture without parentheses
  tests/integration/test_slack_integration.py
Due: black, flake8, mypy

fix: correct fixture names in integration tests
  tests/integration/test_slack_integration.py
Due: black, flake8, mypy

feat: use moto for AWS tests
  pyproject.toml
  requirements-dev.lock
  tests/unit/test_aws_secrets_loader.py
  tests/unit/test_worker_handler.py
  uv.lock
Due: black, flake8, mypy

feat: implement CLAUDE.md compliance improvements
  tests/unit/test_aws_secrets_loader.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy

test: add real Slack signature validation cases
  tests/unit/infrastructure/security/test_slack_signature_validator.py
Due: black, flake8, mypy

test: add deterministic slack signature validator cases
  tests/unit/infrastructure/security/test_slack_signature_validator.py
Due: black, flake8, mypy

test: add deterministic slack signature cases
  tests/unit/infrastructure/security/test_slack_signature_validator.py
Due: black, flake8, mypy

test: strengthen slack signature validator tests
  tests/unit/infrastructure/security/test_slack_signature_validator.py
Due: black, flake8, mypy

test: add end-to-end webhook flow tests
  src/emojismith/application/handlers/slack_webhook_handler.py
  tests/integration/test_webhook_handler_flow.py
Due: black, flake8, mypy, bandit

test: add end-to-end webhook API tests
  src/emojismith/application/handlers/slack_webhook_handler.py
  tests/integration/test_webhook_api_e2e.py
Due: black, flake8, mypy, bandit

test: add end-to-end slack webhook flow tests
  tests/integration/test_slack_webhook_handler_e2e.py
Due: black, flake8, mypy

test: add end-to-end webhook flow tests
  src/emojismith/application/handlers/slack_webhook_handler.py
  tests/integration/test_slack_webhook_e2e.py
Due: black, flake8, mypy, bandit

fix: remove parentheses from pytest fixture decorator
  tests/integration/test_webhook_handler_flow.py
Due: black, flake8, mypy

feat: replace mock-only tests with real image validation
  tests/fixtures/images/corrupted.png
  tests/fixtures/images/valid_emoji.png
  tests/fixtures/images/wrong_format.jpg
  tests/fixtures/images/wrong_size.png
  tests/unit/domain/services/test_emoji_validation_service.py
Due: black, flake8, mypy

test: add integration tests for SQS job queue
  pyproject.toml
  tests/integration/jobs/test_sqs_job_queue_integration.py
  uv.lock
Due: black, flake8, mypy

test: add moto-based SQS integration tests
  pyproject.toml
  requirements-dev.lock
  src/emojismith/infrastructure/jobs/sqs_job_queue.py
  tests/integration/test_sqs_job_queue_integration.py
  uv.lock
Due: black, flake8, mypy, bandit

test: add integration tests for SQS job queue
  tests/integration/test_sqs_job_queue_integration.py
  uv.lock
Due: black, flake8, mypy

test: add integration tests for SQS job queue
  pyproject.toml
  tests/integration/test_sqs_job_queue_integration.py
  uv.lock
Due: black, flake8, mypy

feat: add Claude command templates for code review workflows
  .claude/commands/review_arch.md
  .claude/commands/review_prs.md
  .claude/commands/review_test_quality.md
Due: none

fix(webhook): resolve Lambda import error by making webhook handler self-contained
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

refactor(docs): restructure documentation for better AI agent context management
  .gitignore
  CLAUDE.md
  README.md
  docs/CLAUDE-DEPLOYMENT.md
  docs/CLAUDE-DOMAIN.md
  docs/CLAUDE-INFRASTRUCTURE.md
  docs/CLAUDE-SECURITY.md
  docs/CLAUDE-TESTING.md
  docs/backup/CLAUDE-original-20250621.md
  docs/claude/templates/new-entity-checklist.md
  scripts/claude-refresh.sh
Due: none

docs: update AGENTS.md to match CLAUDE.md
  AGENTS.md
Due: none

fix(webhook): add detailed logging to debug Slack event routing
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

fix(cdk): remove request_templates from API Gateway Lambda integration
  infra/stacks/emoji_smith_stack.py
Due: black, flake8, mypy

fix(tests): address PR feedback for test suite reorganization
  .github/workflows/deploy.yml
  pytest.ini
  scripts/run-tests.sh
  tests/unit/application/handlers/test_slack_webhook_handler.py
Due: black, flake8, mypy

fix(tests): remove hard coverage requirements to fix CI
  CLAUDE.md
  docs/CLAUDE-TESTING.md
  docs/TESTING-ORGANIZATION.md
  pytest.ini
  scripts/check-quality.sh
Due: none
