Repository willtech3/emoji-smith: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, bandit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        args: ['--config=.flake8']

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: ['src/']

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: uv run bandit
        language: system
        types: [python]
        files: '^src/.*\.py$'
        exclude: '^tests/'
        args: ['-s', 'B101,B104']

fix(tests): set fail_under=0 in pyproject.toml coverage config
  pyproject.toml
Due: none

refactor(tests): replace private method access with public API calls
  tests/integration/slack/test_slack_file_sharing.py
  tests/security/authentication/test_slack_signature_validator.py
  tests/unit/webhook/infrastructure/test_slack_signature_validator.py
Due: black, flake8, mypy

fix(lambda): fix webhook package build and SlackUser data model
  scripts/build_webhook_package.sh
  src/webhook/domain/slack_payloads.py
Due: black, flake8, mypy, bandit

fix(lambda): correct webhook handler module path
  infra/stacks/emoji_smith_stack.py
  tests/unit/infrastructure/test_cdk_stack.py
Due: black, flake8, mypy

fix(deps): add aws-cdk dependencies for CDK stack tests
  CLAUDE-AGENT.md
  pyproject.toml
  tests/unit/infrastructure/test_cdk_stack.py
  uv.lock
Due: black, flake8, mypy

fix(deps): add CDK deps to dependency-groups section
  pyproject.toml
  uv.lock
Due: none

fix(tests): use temporary files for CDK stack tests
  tests/unit/infrastructure/test_cdk_stack.py
Due: black, flake8, mypy

fix(lambda): fix webhook package module structure for Lambda imports
  scripts/build_webhook_package.sh
Due: none

fix(lambda): correct webhook package module structure
  scripts/build_webhook_package.sh
Due: none

fix(tests): address PR feedback - format code and enhance comments
  tests/security/authentication/test_slack_signature_validator.py
  tests/security/authentication/test_webhook_security_validation.py
  tests/unit/webhook/infrastructure/test_slack_signature_validator.py
Due: black, flake8, mypy

fix(webhook): add missing dependencies for Lambda package
  requirements-webhook.txt
Due: none

fix(lambda): simplify webhook handler import path
  infra/stacks/emoji_smith_stack.py
  scripts/build_webhook_package.sh
  src/webhook_handler.py
Due: black, flake8, mypy, bandit

feat(lambda): add comprehensive Lambda import validation
  .github/workflows/validate-lambda-package.yml
  docs/CLAUDE-INFRASTRUCTURE.md
  scripts/build_webhook_package.sh
  tests/integration/test_lambda_package.py
Due: black, flake8, mypy

fix(test): update CDK test to match simplified Lambda handler path
  tests/unit/infrastructure/test_cdk_stack.py
Due: black, flake8, mypy

fix(test): add AWS region config for Lambda package validation
  .github/workflows/validate-lambda-package.yml
  scripts/build_webhook_package.sh
  tests/integration/test_lambda_package.py
Due: black, flake8, mypy

fix(webhook): configure Mangum to handle API Gateway events
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

feat(webhook): add comprehensive debugging to identify routing issues
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

fix(webhook): resolve 422 error by fixing FastAPI parameter recognition
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

feat(openai): enhance system prompt for better DALL-E emoji generation
  src/emojismith/infrastructure/openai/openai_api.py
  tests/integration/openai/test_openai_api.py
Due: black, flake8, mypy, bandit

feat(prompt): create contextual prompt builder service
  src/emojismith/application/use_cases/__init__.py
  src/emojismith/application/use_cases/build_prompt_use_case.py
  src/emojismith/domain/services/generation_service.py
  src/emojismith/domain/services/prompt_builder_service.py
  tests/unit/application/use_cases/test_build_prompt_use_case.py
  tests/unit/domain/services/test_prompt_builder_service.py
Due: black, flake8, mypy, bandit

fix(prompt): address code review feedback and improve architecture
  src/emojismith/app.py
  src/emojismith/application/services/emoji_service.py
  src/emojismith/domain/services/generation_service.py
  src/emojismith/domain/services/prompt_builder_service.py
  tests/unit/application/services/test_emoji_service.py
  tests/unit/domain/services/test_prompt_service.py
Due: black, flake8, mypy, bandit

feat(ai-prompting): implement style-aware prompt templates
  src/emojismith/domain/services/prompt_service.py
  src/emojismith/domain/services/style_template_manager.py
  src/emojismith/domain/value_objects/style_template.py
  tests/unit/domain/services/test_prompt_service_with_templates.py
  tests/unit/domain/services/test_style_template_manager.py
  tests/unit/domain/value_objects/test_style_template.py
Due: black, flake8, mypy, bandit

refactor(style-templates): improve architecture following clean code principles
  src/emojismith/app.py
  src/emojismith/domain/repositories/style_template_repository.py
  src/emojismith/domain/services/generation_service.py
  src/emojismith/domain/services/prompt_service.py
  src/emojismith/domain/services/style_template_manager.py
  src/emojismith/infrastructure/repositories/style_template_config_repository.py
  tests/unit/domain/services/test_prompt_service.py
  tests/unit/domain/services/test_prompt_service_with_templates.py
  tests/unit/domain/services/test_style_template_manager.py
  tests/unit/domain/value_objects/test_style_template.py
Due: black, flake8, mypy, bandit

fix(prompt): address PR 334 feedback - improve architecture and code quality
  src/emojismith/app.py
  src/emojismith/application/services/__init__.py
  src/emojismith/application/services/ai_prompt_service.py
  src/emojismith/domain/repositories/__init__.py
  src/emojismith/domain/repositories/style_template_repository.py
  src/emojismith/domain/services/__init__.py
  src/emojismith/domain/services/prompt_builder_service.py
  src/emojismith/domain/services/style_template_manager.py
  src/emojismith/domain/value_objects/__init__.py
  src/emojismith/domain/value_objects/style_template.py
  src/emojismith/infrastructure/repositories/__init__.py
  src/emojismith/infrastructure/repositories/style_template_config_repository.py
  tests/unit/application/services/test_ai_prompt_service.py
  tests/unit/domain/services/test_prompt_builder_service.py
Due: black, flake8, mypy, bandit

fix(architecture): address PR review feedback for style templates
  src/emojismith/application/services/__init__.py
  src/emojismith/application/services/ai_prompt_service.py
  src/emojismith/domain/services/__init__.py
  src/emojismith/domain/services/generation_service.py
  tests/unit/application/services/test_ai_prompt_service_with_templates.py
  tests/unit/domain/services/test_prompt_service.py
Due: black, flake8, mypy, bandit

fix(tests): update performance test to include build_prompt_use_case mock
  tests/performance/concurrency/test_concurrent_requests.py
Due: black, flake8, mypy

docs(readme): simplify architecture diagram for better readability
  README.md
Due: none

docs: update file hierarchy diagram to reflect current project structure
  README.md
Due: none

feat(prompt): add fallback strategies for poor emoji descriptions
  src/emojismith/application/use_cases/build_prompt_use_case.py
  src/emojismith/domain/services/description_quality_analyzer.py
  src/emojismith/domain/value_objects/generation_metadata.py
  tests/emojismith/application/use_cases/test_build_prompt_use_case_with_fallback.py
  tests/emojismith/domain/services/test_description_quality_analyzer.py
Due: black, flake8, mypy, bandit

fix(linting): address all flake8 issues in PR #338
  src/emojismith/application/use_cases/build_prompt_use_case.py
  src/emojismith/domain/services/description_quality_analyzer.py
  src/emojismith/domain/value_objects/generation_metadata.py
  tests/emojismith/application/use_cases/test_build_prompt_use_case_with_fallback.py
  tests/emojismith/domain/services/test_description_quality_analyzer.py
Due: black, flake8, mypy, bandit

refactor(docs): reorganize CLAUDE documentation to co-locate with code
  .github/CLAUDE.md
  AGENTS.md
  CLAUDE.md
  README.md
  src/CLAUDE.md
  src/emojismith/domain/CLAUDE.md
  src/emojismith/infrastructure/CLAUDE.md
  tests/CLAUDE.md
Due: none

fix(linting): resolve all ruff linting issues after migration
  src/emojismith/application/handlers/slack_webhook_handler.py
  src/emojismith/domain/exceptions.py
  src/emojismith/domain/services/description_quality_analyzer.py
  src/emojismith/domain/value_objects/webhook_request.py
  src/emojismith/infrastructure/jobs/background_worker.py
  src/emojismith/infrastructure/slack/slack_file_sharing.py
  src/shared/domain/entities/__init__.py
  tests/conftest.py
  tests/integration/slack/test_slack_file_sharing.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy, bandit

feat(webhook): modernize emoji creation modal
  src/webhook/handler.py
  tests/unit/webhook/test_webhook_handler.py
Due: black, flake8, mypy, bandit

feat(webhook): modern emoji creation modal
  src/webhook/handler.py
  tests/unit/webhook/test_webhook_handler.py
Due: black, flake8, mypy, bandit

feat(webhook): add modern emoji creation modal
  src/webhook/handler.py
  tests/unit/webhook/test_webhook_handler.py
Due: black, flake8, mypy, bandit

feat(testing): add comprehensive test quality review command and reports
  .claude/commands/review_test_quality.md
  docs/architecture/historical/arch_quality_report_07_04_2025.md
  docs/testing/historical/test_quality_review_07_04_2025.md
Due: none

feat(modal): implement advanced options toggle functionality
  src/emojismith/infrastructure/aws/webhook_handler.py
  src/emojismith/infrastructure/slack/slack_api.py
  src/shared/domain/repositories/slack_repository.py
  src/webhook/domain/slack_payloads.py
  src/webhook/handler.py
  src/webhook/infrastructure/slack_api.py
  tests/unit/webhook/test_webhook_handler.py
Due: black, flake8, mypy, bandit

feat(ui): improve emoji creation modal design
  src/webhook/domain/slack_payloads.py
  src/webhook/handler.py
  tests/unit/webhook/test_webhook_handler.py
Due: black, flake8, mypy, bandit
