Repository willtech3/emoji-smith: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, bandit

black:
  name: black
  entry: uv run black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: uv run flake8
  language: system
  args:
  - --config=.flake8

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - src/

bandit:
  name: bandit
  entry: uv run bandit
  language: system
  args:
  - -s
  - B101,B104

feat: remove trivial package version test
  tests/unit/test_package.py
Due: black, flake8, mypy

test: remove protocol definition tests
  src/emojismith/infrastructure/aws/webhook_handler.py
  tests/unit/domain/repositories/test_image_processor.py
  tests/unit/domain/test_job_queue_repository.py
  tests/unit/domain/test_slack_repository.py
Due: black, flake8, mypy, bandit

test: remove abstract protocol tests
  tests/unit/domain/repositories/test_image_processor.py
  tests/unit/domain/test_job_queue_repository.py
  tests/unit/domain/test_slack_repository.py
Due: black, flake8, mypy

fix: remove environment variable access from domain service
  src/emojismith/app.py
  src/emojismith/application/services/emoji_service.py
  src/emojismith/domain/services/emoji_sharing_service.py
  tests/unit/domain/services/test_emoji_sharing_service.py
Due: black, flake8, mypy, bandit

test: refactor background worker integration
  tests/unit/infrastructure/jobs/test_background_worker.py
Due: black, flake8, mypy

test: integration for background worker
  tests/integration/test_background_worker_integration.py
Due: black, flake8, mypy

test: integration for worker uses real services
  tests/unit/infrastructure/jobs/test_background_worker.py
Due: black, flake8, mypy

fix: address PR feedback for environment variable isolation
  README.md
  src/emojismith/app.py
  src/emojismith/application/services/emoji_service.py
  src/emojismith/domain/services/emoji_sharing_service.py
  tests/unit/domain/services/test_emoji_sharing_service.py
Due: black, flake8, mypy, bandit

refactor: improve test determinism and use public APIs
  tests/unit/infrastructure/jobs/test_background_worker.py
Due: black, flake8, mypy

refactor: replace dummy mocks with real services in background worker tests
  tests/unit/infrastructure/jobs/test_background_worker.py
Due: black, flake8, mypy

fix: resolve Lambda handler import error and clean up unused code
  Dockerfile
  infra/stacks/emoji_smith_stack.py
  pyproject.toml
  src/emojismith/app.py
  src/emojismith/application/create_webhook_app.py
  src/emojismith/dev_server.py
  src/emojismith/infrastructure/aws/lambda_handler.py
  tests/unit/test_aws_secrets_loader.py
Due: black, flake8, mypy, bandit

fix: resolve webhook Lambda import error by including secrets_loader in package
  scripts/build_webhook_package.sh
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

refactor: remove dead code from emoji sharing strategy pattern
  src/emojismith/application/services/emoji_service.py
  src/emojismith/domain/services/emoji_sharing_service.py
  src/emojismith/domain/services/emoji_validation_service.py
  tests/unit/domain/services/test_emoji_sharing_service.py
  tests/unit/domain/services/test_emoji_validation_service.py
Due: black, flake8, mypy, bandit

feat: separate presentation from infrastructure
  src/emojismith/application/create_webhook_app.py
  src/emojismith/application/handlers/slack_webhook_handler.py
  src/emojismith/infrastructure/aws/webhook_dependencies.py
  src/emojismith/infrastructure/aws/webhook_handler.py
  src/emojismith/presentation/__init__.py
  src/emojismith/presentation/web/__init__.py
  src/emojismith/presentation/web/slack_webhook_api.py
  tests/unit/application/handlers/test_slack_webhook_handler.py
Due: black, flake8, mypy, bandit

feat: separate presentation layer from infrastructure
  README.md
  src/emojismith/application/create_webhook_app.py
  src/emojismith/application/handlers/slack_webhook_handler.py
  src/emojismith/dev_server.py
  src/emojismith/infrastructure/aws/webhook_handler.py
  src/emojismith/presentation/__init__.py
  src/emojismith/presentation/web/__init__.py
  src/emojismith/presentation/web/slack_webhook_api.py
  tests/unit/application/handlers/test_slack_webhook_handler.py
  tests/unit/presentation/web/test_slack_webhook_api.py
Due: black, flake8, mypy, bandit

feat: separate webhook presentation
  src/emojismith/application/create_webhook_app.py
  src/emojismith/application/handlers/slack_webhook_handler.py
  src/emojismith/dev_server.py
  src/emojismith/infrastructure/aws/webhook_handler.py
  src/emojismith/presentation/web/slack_webhook_api.py
  stubs/fastapi/__init__.pyi
  stubs/mangum/__init__.pyi
  stubs/openai/__init__.pyi
  stubs/slack_sdk/errors.pyi
  stubs/slack_sdk/web/async_client.pyi
  stubs/uvicorn/__init__.pyi
  tests/unit/application/handlers/test_slack_webhook_handler.py
  tests/unit/presentation/web/test_slack_webhook_api.py
Due: black, flake8, mypy, bandit

fix: resolve mypy type errors in webhook_handler
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

fix: remove unnecessary type ignore comment
  src/emojismith/infrastructure/aws/webhook_handler.py
Due: black, flake8, mypy, bandit

chore: remove mock-only tests
  pyproject.toml
  tests/unit/infrastructure/jobs/test_sqs_job_queue.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy

docs: improve developer documentation and tooling
  .gitignore
  AGENTS.md
  CLAUDE.md
  TROUBLESHOOTING.md
  docs/adr/001-use-ddd-architecture.md
  docs/adr/002-two-lambda-separation.md
  docs/adr/003-repository-pattern.md
  scripts/check-quality.sh
  scripts/debug-bundle.sh
  scripts/dev-setup.sh
  scripts/quick-test.sh
Due: none

test: remove mock-only tests
  src/emojismith/presentation/web/slack_webhook_api.py
  tests/unit/infrastructure/jobs/test_sqs_job_queue.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy, bandit

test: remove mock-only tests
  stubs/dotenv.pyi
  stubs/slack_sdk/errors.pyi
  stubs/slack_sdk/web/async_client.pyi
  stubs/slack_sdk/web/async_slack_response.pyi
  tests/unit/infrastructure/jobs/test_sqs_job_queue.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy

docs: add stub documentation and expand slack_sdk stubs
  stubs/README.md
  stubs/slack_sdk/web/async_client.pyi
Due: none

test: record openai api interactions
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/unit/infrastructure/openai/test_openai_api_http.py
  uv.lock
Due: black, flake8, mypy

test: record OpenAI API requests with respx
  pyproject.toml
  tests/unit/infrastructure/openai/test_openai_api.py
  uv.lock
Due: black, flake8, mypy

test: add recorded OpenAI API contract tests
  tests/unit/infrastructure/openai/test_openai_api_contract.py
Due: black, flake8, mypy

docs: reorganize and improve project documentation
  CLAUDE.md
  README.md
  SETUP.md
  TROUBLESHOOTING.md
  docs/CHANGELOG.md
  docs/architecture/cross_context_dependency_analysis.md
  docs/architecture/dual-lambda.md
  docs/architecture/historical/arch_quality_report_06_19.md
  docs/architecture/historical/github_issues_ddd_compliance.md
  docs/integrations/claude-github-action.md
  docs/testing/historical/test_review_06_19.md
  docs/testing/testing-guidelines.md
Due: none

Revert "Merge pull request #283 from willtech3/82wi8w-codex/tackle-github-issue-254"
  tests/unit/infrastructure/openai/test_openai_api_contract.py
Due: black, flake8, mypy

test: add Slack file sharing integration test
  tests/integration/test_slack_file_sharing_integration.py
Due: black, flake8, mypy

test: add slack integration placeholder
  tests/integration/test_slack_integration.py
Due: black, flake8, mypy

test: add Slack integration test suite
  README.md
  docs/testing/testing-guidelines.md
  tests/integration/test_slack_integration.py
Due: black, flake8, mypy

test: add Slack integration test suite
  tests/integration/test_slack_api_integration.py
Due: black, flake8, mypy

test: add missing timeout and config validation tests
  tests/unit/test_config_validation.py
  tests/unit/test_worker_handler.py
Due: black, flake8, mypy

test: cover openai rate limit handling
  src/emojismith/infrastructure/openai/openai_api.py
  tests/unit/infrastructure/openai/test_openai_api.py
Due: black, flake8, mypy, bandit

test: add rate limit and timeout scenarios
  pyproject.toml
  tests/unit/infrastructure/openai/test_openai_api_http.py
Due: black, flake8, mypy

feat: enrich anemic domain models with business behavior
  src/emojismith/domain/entities/generated_emoji.py
  src/emojismith/domain/entities/queue_message.py
  src/emojismith/domain/services/prompt_service.py
  tests/unit/domain/entities/test_queue_message.py
  tests/unit/domain/services/test_prompt_service.py
  tests/unit/domain/test_generated_emoji.py
Due: black, flake8, mypy, bandit

feat: add comprehensive tests for issue #259 requirements
  src/emojismith/domain/exceptions.py
  src/emojismith/domain/value_objects/emoji_specification.py
  tests/unit/domain/services/test_prompt_service.py
  tests/unit/test_concurrent_requests.py
  tests/unit/test_performance_benchmarks.py
  tests/unit/test_security_validation.py
Due: black, flake8, mypy, bandit

fix: enforce test naming conventions
  .flake8
  .pre-commit-config.yaml
  docs/testing/testing-guidelines.md
  pyproject.toml
  scripts/check_test_naming.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/infrastructure/openai/test_openai_api_http.py
  uv.lock
Due: black, flake8, mypy

fix(tests): standardize naming and enforce lint
  .flake8
  .pre-commit-config.yaml
  README.md
  docs/testing/testing-guidelines.md
  pyproject.toml
  requirements-dev.lock
  scripts/check_test_names.py
  tests/unit/domain/services/test_prompt_service.py
  tests/unit/domain/test_emoji_generation_job.py
  tests/unit/domain/test_emoji_specification.py
  tests/unit/domain/test_generated_emoji.py
  tests/unit/domain/value_objects/test_emoji_sharing_preferences.py
  tests/unit/infrastructure/image/test_processing.py
  tests/unit/infrastructure/jobs/test_background_worker.py
  tests/unit/infrastructure/openai/test_openai_api.py
  tests/unit/infrastructure/openai/test_openai_api_http.py
  uv.lock
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: ^src/.*\.py$ and \.py$ and not (^tests/)
